{% extends "base.html" %}

{% block titulo %}
Crear Centro de Trabajo
{% endblock titulo %}

{% block contenido %}

<div class="card form-container">

    <h2 class="auth-title">Crear Centro de Trabajo</h2>

    <form action="{% url 'crear_centro' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Campos del formulario -->
        <div class="form-group">
            <label for="{{ formulario.nombre.id_for_label }}">Nombre</label>
            {{ formulario.nombre }}
        </div>

        <div class="form-group">
            <label for="{{ formulario.operacion.id_for_label }}">Operación</label>
            {{ formulario.operacion }}
        </div>

        <div class="form-group">
            <label for="{{ formulario.imagen.id_for_label }}">Imagen</label>
            {{ formulario.imagen }}
        </div>

        <div style="display:flex; alig-items:center; gap:10px; margin-top:10px;">
            <label style="margin:0; font-weight:600;">Activo</label>
            <div>
                {{ formulario.activo }}
            </div>
            
        </div>

        <!-- Botón enviar -->
        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 15px;">
            Crear Centro
        </button>

    </form>

</div>

{% endblock contenido %}
