{% extends "base.html" %}

{% block titulo %}
Eliminar Centro
{% endblock titulo %}

{% block contenido %}
<h2>Eliminar Centro</h2>

<p>¿Seguro que deseas eliminar <strong>{{ centro.nombre }}</strong>?</p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" style="background:#dc3545; color:white; padding:10px; border-radius:6px; border:none;">
        Eliminar
    </button>
    <a href="{% url 'listar_centros' %}" style="margin-left:15px;">Cancelar</a>
</form>
{% endblock contenido %}
